.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 0.5px solid rgb(27, 27, 27, 0.125);
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card {
    border: 0.6px solid rgb(27, 27, 27, 0.15);
}

.btn-outline-dark {
    color: rgb(27, 27, 27, 0.85);
    border-color:  rgb(27, 27, 27);
    text-transform: capitalize;
    font-size: 14px!important;
}
.list-group{
    color: rgb(27, 27, 27);
    
    border-color:  rgb(27, 27, 27);
    text-transform: capitalize;
}



.list-group-item {
    color: rgb(27, 27, 27);
    
    border-color:  rgb(27, 27, 27);
    text-transform: capitalize;
}



.list-group-item-action:focus, .list-group-item-action:hover {
    font-size: 105%;
    text-decoration: none;
    background-color:rgba(27, 27, 27, 0.03);
}

.badge-warning {
     /* background-color: #3333FF!important; */
     color: #fff;
     background-color: rgb(231, 70, 85, 0.9);
 
     display: inline-block;
     padding: 0.25em 0.4em;
     font-size: 75%;
     font-weight: 500;
     line-height: 1;
     text-align: center;
     white-space: nowrap;
     vertical-align: baseline;
     border-radius: 0.25rem;
}

.btn{
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

h6, .h6 {
    font-size: 11px;
}
.cardInfo{
    font-size: 15px;
}
.button-size{
    font-size: 14px;
}

#cardName1{
    font-size: 15px;
}
#cardName2{
    font-size: 15px;
}
#cardName3{
    font-size: 15px;
}
#cardName4{
    font-size: 15px;
}
#cardName5{
    font-size: 15px;
}
#gameRole{
    font-size: 14px;
}

.selectbutton{
    border: 0.6px solid rgb(27, 27, 27 , 0.3);
}

.list-group-item-light{
    background-color: rgba(255, 255, 255, 0.125);
    border: 0.5px solid rgb(27, 27, 27 , 0.125);
}


.list-group-item-action{
    border: 0.5px solid rgb(27, 27, 27 , 0.125);
}

.list-group-item-action:active{
    background-color: rgba(0, 0, 0, 0.5)!important;
    border: 0.5px solid rgb(27, 27, 27 , 0.125);
}


.card-Num{
    /* background-color: #3333FF!important; */
    color: #fff;
    background-color: rgb(231, 70, 85, 0.9);

    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 70%;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
} 

