.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.btn-outline-dark {
    color: #6c757d;
    border-color: #6c757d;
    text-transform: capitalize;
    font-size: 14px!important;
}
.list-group{
    color: #6c757d;
    border-color: #6c757d;
    text-transform: capitalize;
}

.numCard{
    color: #383838;
    border-color: #383838;
    background-color: #383838;
    text-transform: capitalize;
    -webkit-tap-highlight-color: transparent; 
}

.badge-warning {
    color: #fff;
    background-color: #383838;
    
}

.btn{
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

h6, .h6 {
    font-size: 11px;
}
.cardInfo{
    font-size: 15px;
}
.button-size{
    font-size: 14px;
}

#cardName1{
    font-size: 15px;
}
#cardName2{
    font-size: 15px;
}
#cardName3{
    font-size: 15px;
}
#cardName4{
    font-size: 15px;
}
#cardName5{
    font-size: 15px;
}
#gameRole{
    font-size: 14px;
}

.selectbutton{
    border: 1px solid #DFD7CA;
}

.card-Num{
    /* background-color: #3333FF!important; */
    color: #fff;
    background-color: #383838;

    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
} 
